@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(0.5) rotateZ(0);
        transform: scale(0.5) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(1) rotateZ(180deg);
        transform: scale(1) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(0.5) rotateZ(360deg);
        transform: scale(0.5) rotateZ(360deg);
    }
}


@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes topToBottom {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0) }
}