body {
    font-family: $rb-font;
    color: $rb-text;
    font-size: $body-size;
    line-height: $body-line-height;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $rb-font;
    color: $rb-black;

    br {
        @media (max-width: 575px) {
            display: none;
        }
    }
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #838A95;
    br {
        @media (max-width: 575px) {
            display: none;
        }
    }
}

::placeholder {
    color: inherit;
    opacity: 1;
}


.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

@media (min-width: 1392px) {
    .container {
        max-width: 1392px;
    }
}

.row {
    --bs-gutter-x: 30px;
}

.gutter-y-30 {
    --bs-gutter-y: 30px;
}

.bootstrap-select {
    .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: $rb-base;
    }
}