body {
    font-family: $rb-font;
    color: $rb-text;
    font-size: $body-size;
    line-height: $body-line-height;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body.locked {
  overflow: hidden;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $rb-font;
    color: $rb-black;

    br {
        @media (max-width: 575px) {
            display: none;
        }
    }
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #838A95;
    br {
        @media (max-width: 575px) {
            display: none;
        }
    }
    @media (max-width:575px) {
        font-size: 16px;
        line-height: 167%;
    }
}

::placeholder {
    color: inherit;
    opacity: 1;
}


.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

@media (min-width: 1392px) {
    .container {
        max-width: 1392px;
    }
}

.row {
    --bs-gutter-x: 30px;
}
.gutter-y-10 {
    --bs-gutter-y: 10px;
}

.gutter-x-10 {
    --bs-gutter-x: 10px;
}

.gutter-y-30 {
    --bs-gutter-y: 30px;
}

.bootstrap-select {
    .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: $rb-base;
    }
}


.sec-title{
    margin-bottom: 70px;
    &__subtitle{
        display: inline-flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        letter-spacing: -0.01em;
        color: $rb-white;
        margin-bottom: 0;
        padding: 6px 14px;
        background: linear-gradient(90deg, $rb-secondary 0%, $rb-accent 100%);
        box-shadow: inset 0px -4px 18.5px rgba($rb-white-rgb, 0.79);
        border-radius: 48px;
        margin-bottom: 20px;
        i{
            font-size: 15px;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: $rb-black;
        margin-bottom: 0;
        @media (max-width:767px) {
            font-size: 40px;
        }
        @media (max-width:575px) {
            font-size: 35px;
        }
    }
}