.footer-area{
    background-color: #0C0129;
    padding: 98px 0 63px;
    position: relative;
    &__ring-one{
        position: absolute;
        top: 20%;
        left: 0;
        img{
            object-fit: cover;
            filter: blur(17.5px);
            animation: topToBottom 4s linear infinite;
        }
    }
    &__ring-two{
        position: absolute;
        bottom: 0;
        right: 5%;
        img{
            object-fit: cover;
            filter: blur(17.5px);
            animation: topToBottom 4s linear infinite;
        }
    }

    &__box{
        background: linear-gradient(145.12deg, rgba(254, 113, 185, 0.04) -2.12%, rgba(20, 2, 73, 0.01) 121.13%);
        box-shadow: inset 0px 20px 122px rgba(19, 7, 150, 0.08), inset 2.24982px -7px 43.7px rgba(255, 255, 255, 0.02);
        border-radius: 10px;
        padding: 37px 40px 40px;
        position: relative;
        z-index: 1;
        @media (max-width:1199px) and (min-width:992px) {
            padding: 40px 20px 40px;
        }
        @media (max-width:575px) {
            padding: 30px 25px;
        }
        &::after{
            content: "";
            position: absolute;
            top: -2px;
            left: 40px;
            width: 40px;
            height: 2px;
            background: linear-gradient(102.44deg, #5163FF -0.32%, #FE71B9 100%);
            opacity: 0.2;
            animation: fullWidth 10s linear infinite;
        }
        &--two{
            padding: 40px 50px 40px;
            @media (max-width:1199px) and (min-width:992px) {
                padding: 40px 5px 40px;
            }
            @media (max-width:575px) {
                padding: 30px 25px;
            }
        }
    }

    &__newsletter{
        margin-top: 10px;
        background: linear-gradient(102.44deg, #5163FF -0.32%, #FE71B9 100%);
        border-radius: 10px;
        padding: 50px 70px;
        display: flex;
        align-items: center;
        gap: 100px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        margin-bottom: 62px;
        @media (max-width:1392px) {
            padding: 20px 40px ;
            gap: 30px;
        }
        @media (max-width:991px) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 40px;
            margin-bottom: 40px;
        }
        @media (max-width:500px) {
            padding: 20px;
            margin-bottom: 30px;
        }

        &__bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: -1;
        }

        &__container{
            display: flex;
            align-items: center;
            gap: 20px;
            flex: 50%;
            width: 50%;
            @media (max-width:991px) {
                width: 100%;
                flex: 100%;
            }
            @media (max-width:500px) {
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 15px;
            }
        }
        &__text{
            font-weight: 600;
            font-size: 32px;
            line-height: 131%;
            letter-spacing: -0.01em;
            color: $rb-white;
            margin-bottom: 0;
            @media (max-width:1392px) {
                font-size: 25px;
            }   
        }
        &__icon{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            &-box{
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $rb-white;
            }
        }
        &__form{
            flex: 50%;
            width: 50%;
            margin-left: 52px;
            @media (max-width:991px) {
                width: 100%;
                flex: 100%;
                margin-left: 0;
            }
            &__group{
                position: relative;
                z-index: 1;
                background: linear-gradient(153.11deg, rgba(255, 255, 255, 0.45) -3.36%, rgba(254, 113, 185, 0) 149.26%);
                border: 2px solid rgba(255, 255, 255, 0.35);
                box-shadow: inset 0px 20px 122px rgba(13, 7, 75, 0.08), inset -2px -1px 7.8px rgba(255, 255, 255, 0.15);
                border-radius: 10px;
                height: 70px;
                @media (max-width:500px) {
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 15px;
                    height: auto;
                    background: transparent;
                    border: none;
                    box-shadow: none;
                }
                input[type="email"]{
                    background: transparent;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 178%;
                    color: $rb-white;
                    opacity: 0.8;
                    padding-left: 30px;
                    padding-right: 150px;
                    height: 70px;
                    @media (max-width:500px) {
                        background: linear-gradient(153.11deg, rgba(255, 255, 255, 0.45) -3.36%, rgba(254, 113, 185, 0) 149.26%);
                        border: 2px solid rgba(255, 255, 255, 0.35);
                        box-shadow: inset 0px 20px 122px rgba(13, 7, 75, 0.08), inset -2px -1px 7.8px rgba(255, 255, 255, 0.15);
                        border-radius: 10px;
                        height: 50px;
                        padding-right: 20px;
                    }
                }
                button{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    bottom: 10px;
                    @media (max-width:500px) {
                        position: relative;
                        margin-top: 10px;
                        left: 0;
                    }
                }
                .rb-btn{
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                    padding: 15px 28px;
                }
            }
        }
    }

    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:991px) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;
        }
    }

    &__copyright{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 0;
        a{
           background: linear-gradient(102.44deg, #5163FF -0.32%, #FE71B9 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    &__bottom__list{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        @media (max-width:575px) {
            flex-wrap: wrap;
        }
        li{
            line-height: normal;
        }
        li + li{
            padding-left: 10px;
            margin-left: 10px;
            position: relative;
            z-index: 1;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: -2px;
                transform: translateY(-50%);
                width: 5px;
                border-radius: 50%;
                height: 5px;
                background-color: $rb-white;
                opacity: 30%;
            }
        }
        a{
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: $rb-white;
            @include borderHover;
        }
    }
    
}


.footer-widget{
    &__logo{
        margin-bottom: 23px;
        display: block;
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: $rb-white;
        opacity: 0.9;
        margin-bottom: 19px;
    }
    &__time{
        margin-bottom: 26px;
        &__subtitle{
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: $rb-white;
            opacity: 0.6;
            margin-bottom: 3px;
        }
        &__available{
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            color: $rb-white;
            margin-bottom: 0;
        }
    }
    &__social{
        display: flex;
        align-items: center;
        gap: 12px;
        a{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($rb-white-rgb, 0.1);
            border-radius: 10px;
            font-size: 14px;
            color: rgba($rb-white-rgb, 0.4);
            transition: all 0.4s ease-in-out;
            position: relative;
            z-index: 1;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 100px;
                background: linear-gradient(102.44deg, $rb-blue -0.32%, $rb-accent 100%);
                z-index: -1;
                transform: scale(0.2);
                visibility: hidden;
                opacity: 0;
                transition: all 0.4s ease-in-out;
            }
            &:hover{
                color: $rb-white;
                transform: translateY(-3px);
                &::after{
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1.0);
                    border-radius: 10px;
                }
            }
        }
    }

    &__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: $rb-white;
        margin-bottom: 30px;
        text-transform: capitalize;
    }

    &__links{
        margin-bottom: 0;
        li{
            a{
                font-weight: 400;
                font-size: 16px;
                line-height: 175%;
                color: rgba($rb-white-rgb, 0.9);
                transition: all 0.4s ease-in-out;
                display: flex;
                align-items: center;
                gap: 5px;
                i{
                    font-size: 0;
                    transition: all 0.4s ease-in-out;
                    visibility: hidden;
                    opacity: 0;
                    background: linear-gradient(102.44deg, #5163FF -0.32%, #FE71B9 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
                &:hover{
                    background: linear-gradient(102.44deg, #5163FF -0.32%, #FE71B9 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    i{
                        font-size: 14px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        li + li{
            margin-top: 12px;
        }
    }

    &__event{
        &__item{
            display: flex;
            align-items: center;
            gap: 18px;
            &:hover{
                .footer-widget__event__thumb{
                    border-color: $rb-base;
                }
            }
        }
        &__item + &__item{
            margin-top: 26px;
        }
        &__thumb{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid transparent;
            transition: all 0.4s ease-in-out;
            img{
                object-fit: cover;
                width: 100%;
                border-radius: 50%;
            }
        }
        &__title{
            font-weight: 500;
            font-size: 16px;
            line-height:175%;
            color: $rb-white;
            margin-bottom: -4px;
            text-transform: capitalize;
            a{
                @include borderHover;
                color: inherit;
            }
        }
        &__location{
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: $rb-white;
            opacity: 0.8;
            margin-bottom: 0;
        }
    }

    &--links-two{
        margin-left: 35px;
        margin-right: -35px;
        @media (max-width:1392px) {
            margin-left: 0;
        }
    }
    &--event{
        margin-left: 60px;
        @media (max-width:992px) {
            margin-left: 0px;
        }
    }
}