.funfact-area{
    position: relative;
    padding-bottom: 100px;
    @media (max-width:767px) {
        padding-bottom: 80px;
    }
    @media (max-width:575px) {
        padding-bottom: 60px;
    }
    &__inner{
        display: flex;
        align-items: center;
        gap: 91px;
        @media (max-width:1392px) {
            gap: 30px;
            justify-content: space-between;
        }
        @media (max-width:768px){
            flex-wrap: wrap;
            justify-content: center;
        }
        li{
            flex: 200px;
            width: 200px;
            @media (max-width:1199px) {
                flex: calc(20% - 15px);
                width: calc(20% - 15px);
            }
            @media (max-width:768px){
                flex: calc(33% - 15px);
                width: calc(33% - 15px);
            }
            @media (max-width:375px){
                flex: 100%;
                width: 100%;
            }
        }
    }
    &__item{
        position: relative;
        z-index: 1;
        padding-top: 15px;
        &__count{
            display: flex;
            align-items: center;
            gap: 0;
            font-weight: 400;
            font-size: 80px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: $rb-black;
            margin-bottom: 10px;
            @media (max-width:991px) {
                font-size: 50px;
            }
            .odometer__characters{
                font-size: 50px;
                line-height: 160%;
                display: block;
                margin-bottom: -10px;
                @media (max-width:991px) and (min-width:768px) {
                    font-size: 30px;
                }
            }
        }
        &__text{
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #838A95;
            margin-bottom: 0;
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $rb-black;
            height: 2px;
            opacity: 15%;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            background-color: $rb-base;
            height: 2px;
            transition: all 0.4s ease-in-out;
        }
        &:hover{
            &::before{
                width: 100%;
            }
        }
    }
}