.hero-area{
    position: relative;
    z-index: 1;
    padding: 71px 0 157px;
    overflow: hidden;
    @media (max-width:1199px) {
        padding-bottom: 0;
    }
    &__content{
        margin-right: -40px;
        @media (max-width:991px) {
            margin-right: 0;
        }
    }

    &__title__box{
        position: relative;
        margin-bottom: 30px;
        .hero-area__title__shape{
            position: absolute;
            top: -20px;
            right: 0px;
            img{
                animation: leftToRight 3s linear infinite;
            }
            @media (max-width:575px) {
               display: none;
            }
        }

        .hero-area__title__roket{
            position: absolute;
            bottom: 0;
            right: 34%;
            @media (max-width:767px) {
               right: 0;
            }
            @media (max-width:575px) {
               display: none;
            }
            img{
                animation: leftToRight 2.5s linear infinite;
            }
        }
    }

    &__title{
        font-weight: 600;
        font-size: 100px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: $rb-black;
        margin-bottom: 0;
        &-heading{
            background: linear-gradient(90deg, #5163FF 12.38%, #C872F2 35.8%, #FE71B9 55.75%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        @media (max-width:1392px) {
           font-size: 80px;
        }
        @media (max-width:1199px) {
           font-size: 60px;
        }
        @media (max-width:575px) {
            font-size: 50px;
        }
    }
    &__text{
        max-width: 574px;
        width: 100%;
        opacity: 0.9;
        margin-bottom: 50px;
    }

    &__btn{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 60px;
        @media (max-width:575px) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
    }

    &__call{
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        &__icon{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: $rb-base;
            border: 1px solid rgba($rb-base-rgb, 0.30);
            position: relative;
            z-index: 1;
            overflow: hidden;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $rb-base;
                z-index: -1;
                transform: scale(0.1);
                transition: all 0.4s ease-in-out;
                visibility: hidden;
                opacity: 0;
                border-radius: 50%;
            }
        }
        .subtitle{
            display: block;
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            color: $rb-text;
            margin-bottom: 5px;
        }
        .call{
            font-weight: 500;
            font-size: 17px;
            line-height: 100%;
            color: $rb-black;
            transition: all 0.4s ease-in-out;
            &:hover{
                color: $rb-base;
            }
        }

        &:hover{
            .hero-area__call__icon{
                color: $rb-white;
                i{
                    animation: bwTada 1s linear;
                }
                &::after{
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1.0);
                }
            }
        }
    }

    &__collaboration{
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width:575px) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
        &__thumb{
            display: flex;
            align-items: center;
            &__item{
                width: 58px;
                height: 58px;
                border-radius: 50%;
                border: 3px solid $rb-white;
                overflow: hidden;
                position: relative;
                z-index: 1;
                img{
                    object-fit: cover;
                    width: 100%;
                    border-radius: 50%;
                }
                .link{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color:rgba($rb-accent-rgb, 0.80) ;
                    color: $rb-white;
                    transition: all 0.4s ease-in-out;
                    visibility: hidden;
                    opacity: 0;
                }

                &:hover{
                    .link{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            &__item + &__item{
                margin-left: -25px;
            }
        }

        &__text{
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            text-transform: capitalize;
            color: $rb-text;
            margin-bottom: 0;
            span{
                color: $rb-base;
            }
        }
    }

    &__thumb{
        position: absolute;
        bottom: 0;
        right: 0;
        @media (max-width:1199px) {
            margin-top: 40px;
            bottom: 0;
            right: 0;
            position: relative;
        }
        &__item{
            @include svgMask('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.000000 168.000000" preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,168.000000) scale(0.050000,-0.050000)" stroke="none"> <path d="M4850 3310 c-1082 -49 -1005 -36 -1111 -192 -210 -309 -540 -322 -823 -33 l-135 139 -306 -13 c-168 -8 -567 -25 -888 -39 -729 -32 -829 -68 -948 -342 -71 -163 -647 -2610 -627 -2665 50 -140 -206 -140 2953 5 1560 71 2880 130 2935 130 l100 0 0 1530 0 1530 -95 -3 c-52 -1 -527 -22 -1055 -47z"/> </g> </svg>');
            width: 100%;
            height: 605px;
            margin-bottom: -55px;
            margin-right: -10px;
            @media (max-width:1650px) {
                width: 119%;
                height: 495px;
            }
            @media (max-width:1366px) {
                width: 134%;
                height: 400px;
            }
            @media (max-width:1199px) {
                mask: none;
                height: auto;
                width: auto;
                position: relative;
                right: 0;
                bottom: auto;
                margin-bottom: 0;
                margin-right: 0;
                img{
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        &__video{
            top: -16%;
            left: 47%;
            position: absolute;
            width: 176px;
            height: 176px;
            display: flex;
            align-items: baseline;
            justify-content: center;
            img{
                animation: rotate 10s linear infinite;
            }
            @media (max-width:1650px) {
                top: -23%;
                left: 55.5%;
            }
            @media (max-width:1366px) {
                left: 61.5%;
            }
            @media (max-width:1199px) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .hero-area__video{
        width: 60px;
        height: 60px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #708BFD 0%, #FE71B9 100%);
        font-size: 16px;
        color: $rb-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    &__shape-one{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &__shape-two{
        position: absolute;
        top: -20%;
        right: 0;
        z-index: -1;
    }
    &__shape-three{
        position: absolute;
        top: 20%;
        left: 5%;
        z-index: -1;
        img{
            filter: blur(5px);
            animation: leftToRight 3s linear infinite;
        }
    }
}


.text-slider{
    position: relative;
    background: linear-gradient(90deg, #708BFD 0%, #FE71B9 100%);
    padding: 19px 0;
    &__item{
        display: flex;
        align-items: center;
        gap: 22px;
        font-weight: 700;
        font-size: 61.6px;
        line-height: 100%;
        text-transform: uppercase;
        opacity: 0.8;
        color: transparent;
        -webkit-text-stroke: 1px $rb-white;
        img{
            animation: rotate 10s linear infinite;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
        gap: 22px;
        animation: textScrolling 25s linear infinite;
        animation-direction: reverse;
        will-change: transform;
        position: relative;
        white-space: nowrap;
        z-index: 1;
    }
    &__shape{
        &__image-one{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: rotate(1deg);
            z-index: -1;
        }
        &__image-two{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: rotate(-1deg);
            z-index: -1;
        }
    }
}