.main-header {
    position: relative;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    background-color: $rb-white;

    &__inner {
        display: flex;
        align-items: center;
        background-color: transparent;
        border-radius: 5px;
        position: relative;
        border-bottom: 1px solid rgba($rb-black-rgb, 0.15);
        @media (max-width: 1199px) {
            padding: 20px 0;
        }
    }

    &__logo {
        display: flex;
        height: 100%;
        width: auto;
    }

    &__nav {
        margin-left: auto;
        margin-right: auto;
    }

    &__left{
        display: flex;
        align-items: center;
        .mobile-nav__btn + .quick-access{
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px solid rgba($rb-black-rgb, 0.15);
        }
    }
    .quick-access{
        display: flex;
        align-items: center;
        &__trolley,
        &__search{
            padding: 0;
            margin: 0;
            font-size: 18px;
            color: $rb-text;
            position: relative;
            line-height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
        }
        .quick-access__trolley + .quick-access__search{
            margin-left: 26px;
            padding-left: 15px;
            border-left: 1px solid rgba($rb-black-rgb, 0.15);
        }
        
        &__trolley__badge{
            top: -13px;
            right: -11px;
            position: absolute;
            border-radius: 100px;
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $rb-blue;
            font-weight: 700;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: -0.04em;
            color: $rb-white;
        }
    }
    &__btn{
        .rb-btn{
            padding: 12px 17px;
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: -0.01em;
        }
    }
}

.main-menu {

    .main-menu__list,
    .main-menu__list ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        align-items: center;
        display: none;

        @media (min-width: 1200px) {
            display: flex;
        }
    }

    .main-menu__list>li {
        padding-top: 25px;
        padding-bottom: 26px;
        position: relative;

        &.dropdown>a {
            position: relative;
        }
    }

    .main-menu__list>li+li {
        margin-left: 36px;
    }

    .main-menu__list>li>a {
        display: flex;
        align-items: center;
        position: relative;
        transition: all 500ms ease;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $rb-text;
        i{
            font-size: 12px;
            margin-left: 6px;
            transition: all 0.2s ease;
        }
    }

    .main-menu__list>li.current>a,
    .main-menu__list>li:hover>a {
        color: $rb-base;
        text-shadow: 0 0 0.5px currentColor;
        i{
            transform: rotate(180deg);
        }
    }

    .main-menu__list li ul {
        position: absolute;
        top: 100%;
        left: -25px;
        min-width: 270px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 0;
        visibility: hidden;
        transform-origin: top center;
        transform: scaleY(0) translateZ(100px);
        transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
        z-index: 99;
        background-color: $rb-white;
        box-shadow: 0px 10px 60px 0px RGBA($rb-white-rgb, 0.07);
        padding: 15px 20px 11px;
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
    }

    .main-menu__list li:hover>ul {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1) translateZ(0px);
    }

    .main-menu__list>.megamenu {
        position: static;
    }

    .main-menu__list>.megamenu>ul {
        top: 100% !important;
        left: -15px !important;
        right: -15px !important;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        transition: all 300ms linear 0ms;
        transform: perspective(500px) rotateX(-20deg);
        transform-origin: 50% 0%;
        pointer-events: none;
    }

    .main-menu__list li.megamenu:hover>ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: perspective(500px) rotateX(0);
    }

    .main-menu__list li ul li {
        flex: 1 1 100%;
        width: 100%;
        position: relative;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .main-menu__list li.megamenu ul li {
        margin: 0;
    }

    .main-menu__list li ul li>a {
        font-size: 15px;
        line-height: 26px;
        color: $rb-text;
        font-weight: 500;
        display: flex;
        text-transform: capitalize;
        padding: 8px 20px;
        transition: 400ms;

        &::after {
            position: absolute;
            right: 20px;
            top: 8px;
            border-radius: 0;
            font-size: 12px;
            font-weight: 600;
            font-family: "Font Awesome 5 Free";
            content: "\f054";
            color: $rb-white;
            visibility: hidden;
            opacity: 0;
            transition: all 500ms ease;
            transform: scale(0);
        }
    }

    .main-menu__list li ul li.current>a,
    .main-menu__list li ul li:hover>a {
        background-color: $rb-secondary;
        color: $rb-white;

        &::after {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    .main-menu__list li ul li>ul {
        top: 0;
        left: calc(100% + 20px);
    }

    .main-menu__list li ul li>ul.right-align {
        top: 0;
        left: auto;
        right: 100%;
    }

    /* after third level no menu */
    .main-menu__list li ul li>ul ul {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {

    .main-menu__list li:nth-last-child(1) ul li>ul,
    .main-menu__list li:nth-last-child(2) ul li>ul {
        left: auto;
        right: calc(100% + 20px);
    }
}

/*--------------------------------------------------------------
# Megamenu Popup
--------------------------------------------------------------*/
.mobile-nav__container .main-menu__list>.megamenu.megamenu-clickable>ul,
.main-menu .main-menu__list>.megamenu.megamenu-clickable>ul,
.stricky-header .main-menu__list>.megamenu.megamenu-clickable>ul {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
    z-index: 999999;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    padding: 0;
    background-color: $rb-white;
    display: block !important;
    margin: 0;
}

.main-menu__list>li.megamenu-clickable>ul::-webkit-scrollbar {
    display: none;
}

.mobile-nav__container .main-menu__list>.megamenu.megamenu-clickable>ul.megamenu-clickable--active,
.main-menu .main-menu__list>.megamenu.megamenu-clickable>ul.megamenu-clickable--active,
.stricky-header .main-menu__list>.megamenu.megamenu-clickable>ul.megamenu-clickable--active {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    visibility: visible;
    transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
}

body.megamenu-popup-active {
    overflow: hidden;
}

body.megamenu-popup-active .stricky-header {
    bottom: 0;
}

body.megamenu-popup-active .mobile-nav__content {
    overflow: unset;
}

.mobile-nav__content .demo-one .container {
    padding-left: 15px;
    padding-right: 15px;
}

.megamenu-popup {
    position: relative;

    .megamenu-clickable--close {
        position: absolute;
        top: 18px;
        right: 20px;
        display: block;
        color: $rb-black;

        @media (min-width: 1300px) {
            top: 38px;
            right: 40px;
        }

        &:hover {
            color: $rb-base;
        }

        span {
            width: 24px;
            height: 24px;
            display: block;
            position: relative;
            color: currentColor;
            transition: all 500ms ease;

            &::before,
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: currentColor;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}