.testimonials-area{
    position: relative;
    z-index: 1;
    background: #EEEFFF;
    overflow: hidden;
    padding: 103px 0 97px;

    &__shape-one{
        position: absolute;
        top: -70px;
        left: 0;
        &::after{
            background: #708BFD;
            transform: rotate(63.15deg);
            content: "";
            position: absolute;
            width: 140px;
            height: 204px;
            border-radius: 100px;
            filter: blur(100px);
            position: absolute;
            top: -100px;
            left: 140px;
        }
        &::before{
            background: #FD4382;
            transform: rotate(63.15deg);
            content: "";
            position: absolute;
            width: 150px;
            height: 290px;
            border-radius: 100px;
            filter: blur(100px);
            position: absolute;
            top: -100px;
            left: 0px;
        }
    }

    &__shape-two{
        position: absolute;
        bottom: -70px;
        right: 0;
        &::after{
            background: #708BFD;
            transform: rotate(63.15deg);
            content: "";
            position: absolute;
            width: 140px;
            height: 204px;
            border-radius: 100px;
            filter: blur(100px);
            position: absolute;
            bottom: -100px;
            right: 140px;
        }
        &::before{
            background: #FD4382;
            transform: rotate(63.15deg);
            content: "";
            position: absolute;
            width: 150px;
            height: 290px;
            border-radius: 100px;
            filter: blur(100px);
            position: absolute;
            bottom: -100px;
            right: 0px;
        }
    }

    &__thumb{
        max-width: 485px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        .slick-track {
            display: flex !important;
            align-items: center !important;
            flex-wrap: nowrap;
            height: 145px;
            justify-content: center;
        }
    }
    &__thumb-item{
        display: flex !important;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
        .thumb{
            max-width: 60px;
            height: 60px;
            transition: all 0.4s ease-in-out;
            border: 2px solid $rb-white;
            border-radius: 50%;
            position: relative;
            z-index: 1;
            img{
                object-fit: cover;
                width: 100%;
                border-radius: 50%;
            }
            .quite__icon{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $rb-base;
                color: $rb-white;
                font-size: 24px;
                border-radius: 50%;
                visibility: hidden;
                opacity: 0;
            }
        }
    }
    .testimonials-area__thumb-item.slick-center {
        max-width: 143px !important;
        width: 145px !important;
        transition: all 0.4s ease-in-out;
        .thumb{
            max-width: 143px;
            width: 100%;
            height: 143px;
            img{
                width: 140px;
            }
            .quite__icon{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__item{
        
        &__content{
            max-width: 745px;
            width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__text{
            font-size: 24px;
            line-height: 167%;
            text-align: center;
            letter-spacing: -0.01em;
            margin-bottom: 27px;
        }

        &__author-name{
            font-weight: 600;
            font-size: 20px;
            line-height: 160%;
            color: $rb-black;
            margin-bottom: 3px;
            .designation{
                font-weight: 400;
                color: #838A95;
            }
        }

        .ster{
            color: #FFA722;
        }
    }


    .testimonials-area__slick-button{
        position: absolute;
        z-index: 2;
        top: 0%;
        border: none;
        outline: none;
        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;
        opacity: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        transition: all 500ms ease;
        background: linear-gradient(180deg, #708BFD 0%, #FE71B9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 700;
        overflow: hidden;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 1px solid rgba($rb-black-rgb, 0.20);
            border-radius: 50%;
        }
        &::before{
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(102.44deg, #5163FF -0.32%, #FE71B9 100%);
            border-radius: 100px;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }
        &:hover {
            background: none;
            -webkit-text-fill-color: $rb-white;
            color: $rb-white;
            &::before{
                visibility: visible;
                opacity: 1;
            }
        }

        &--prev{
            left: 84px;
        }
        &--next{
            right: 84px;
        }
    }
}