@mixin rbBtn($bgColor: $rb-base, $color: $rb-white) {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background-color: $bgColor;
    color: $color;
    transition: 500ms;
    font-family: $rb-font;
    border-radius: 10px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    padding: 16px 40px;
    z-index: 1;
    font-weight: 600;
    font-size: 18px;
    line-height: 161%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(12, 4, 66, 0.3);
    background: radial-gradient(64.58% 59% at 37.13% 12%, rgba(255, 255, 255, 0.427) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) , $rb-base;
    box-shadow: 0px 10px 40.6px rgba(81, 99, 255, 0.33), inset -3px -4px 7px rgba(255, 255, 255, 0.15);

}

.rb-btn {
    @include rbBtn;
    >i {
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 300px;
        transition: transform 500ms ease;
        transform-origin: top center;
        transform: translateY(0%) translateZ(0px) scaleY(1) rotateX(0deg);
    }

    &:hover>i {
        transform-origin: bottom center;
        transform: translateY(-100%) translateZ(150px) scaleY(0) rotateX(90deg);
    }

    >span {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 700ms ease, top 700ms ease;
        background: radial-gradient( 64.58% 59% at 50% 90%, rgba(255, 255, 255, 0.427) 0%, rgba(255, 255, 255, 0) 70% ), $rb-black;
        transform: translateY(0%) translateZ(150px) scaleY(0) rotateX(90deg);
        perspective: 300px;
        transform-origin: bottom center;
    }

    &:hover>span {
        transition: transform 500ms ease, top 500ms ease;
        transform: translateY(0%) translateZ(0px) scaleY(1) rotateX(0deg);
    }
}